@charset "UTF-8";

* {
    font-family: 'Roboto';
}

#navbar img {
    width: 50px;
}

.primario {
    background-color: rgba(18, 77, 241, 0.884);
}

.section {
    height: 700px;
    display: flex;
    color: white;
    font-size: 2em;
}

.secundario {
    background-color: rgba(18, 77, 241, 0.884);
}

.cabecalho1 {
    display: flex;
    padding-top: 150px;
    padding-left: 200px;
    width: 1700px;
    height: 400px;
}

.terciario {
    color: black;
}

.cabecalho2 {
    display: flex;
    padding-top: 150px;
    padding-left: 200px;
    width: 1600px;
    height: 400px;
}

.quartenario {
    color: black;
}

.quinario {
    background-color: aqua;
}

.senario {
    background-color: white;
    height: 300px;
    display: flex;
}

.setenario {
    background-color: black;
    height: 600px;
    display: flex;
}